:root {
    --password-toggle-width: 60px;
    --password-toggle-color: #0AA1EC;
    --password-toggle-color-active: #999999;
    --border-color: #DDDDDD;
    --help-text-color: #888888;
    --password-strength-color-invalid: #D9534F;
    --password-strength-color-poor: #F09321;
    --password-strength-color-ok: #5BC0DE;
    --password-strength-color-good: #5CB85C;
    --password-strength-transition: width .3s cubic-bezier(.1, .6, .45, .94),background-color .3s cubic-bezier(.1, .6, .45, .94);
    --input-height: 40px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 17px;
}

.hide {
    display: none;
}

.password-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    padding: 50px;
}

.password-container form {
    width: 400px;
    margin: 50px;
    position: relative;
}

.password-container form input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    height: var(--input-height);
    font-size: 17px;
}

.password-container form input.input-has-password-toggler {
    padding-right: var(--password-toggle-width);
}

.password-toggler {
    color: var(--password-toggle-color);
    cursor: pointer;
    height: var(--input-height);
    position: absolute;
    right: 0;
    top: 0;
    width: var(--password-toggle-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-toggler-is-active {
    color: var(--password-toggle-color-active)
}

.password-strength {
    padding: 9px 0 0;
    position: relative;
}

.password-strength::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--border-color);
}

.password-strength::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 6px;
    transition: var(--password-strength-transition);
}

.password-strength[data-strength="invalid"] {
    color: var(--password-strength-color-invalid);
}

.password-strength[data-strength="invalid"]::after {
    background-color: var(--password-strength-color-invalid);
    width: 20%;
}

.password-strength[data-strength="poor"] {
    color: var(--help-text-color)
}

.password-strength[data-strength="poor"]::after {
    background-color: var(--password-strength-color-poor);
    width: 50%;
}

.password-strength[data-strength="ok"] {
    color: var(--help-text-color)
}

.password-strength[data-strength="ok"]::after {
    background-color: var(--password-strength-color-ok);
    width: 75%;
}

.password-strength[data-strength="good"] {
    color: var(--password-strength-color-good);
}

.password-strength[data-strength="good"]::after {
    background-color: var(--password-strength-color-good);
    width: 100%;
}
